@systab-line-height: 32px;
@systab-deactive-color: #aaa;
@systab-active-color: #3f536e;
.blue-systab {
  position: fixed;
  font-size: @font-size-mini;
  height: @systab-line-height;
  line-height: @systab-line-height;
  padding: 0 0 0 0;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  top: 50px;
  right: 0;
  left: 220px;
  z-index: 20;
  display: block;
  .blue-systab-container {
    // position: absolute;
    // left: 28px;
    // right: 61px;
    margin: 0;
    overflow: hidden;
    display: block;
    li {
      display: inline-block;
      position: relative;
      padding: 0 15px;
      text-align: center;
      cursor: pointer;
      -webkit-transition: all 0.2s;
    }
    .blue-systab-body {
      height: @systab-line-height;
      border: none;
      left: 0;
      white-space: nowrap;
      -webkit-transition: all 0.2s;
    }
    .tab-item {
      color: @systab-deactive-color;
      min-width: 0;
      line-height: @systab-line-height;
      max-width: 220px;
      text-overflow: ellipsis;
      padding-right: @systab-line-height;
      overflow: hidden;
      border-right: 1px solid #f6f6f6;
      vertical-align: top;
      -webkit-transition: all 0.2s;
      &.tab-item-chosen {
        background-color: #f6f6f6;
        color: @systab-active-color;
        &:after {
          width: 100%;
          border: none;
          height: 2px;
          background-color: #292b34;
        }
      }
      &:hover {
        background-color: #f6f6f6;
        color: @systab-active-color;
        &:after {
          width: 100%;
        }
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 2px;
        border-radius: 0;
        background-color: #292b34;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
      }
      .tab-close {
        position: absolute;
        right: 4px;
        top: 50%;
        margin: -7px 0 0;
        width: 16px;
        height: 16px;
        line-height: 16px;
        border-radius: 50%;
        font-size: 12px;
        text-align: center;
        color: #c2c2c2;
        &:hover {
          background-color: #ff5722;
          color: #fff;
        }
      }
      &-title {
        line-height: @systab-line-height;
      }
    }
  }
  .contextmenu {
    position: absolute;
    margin: 0;
    padding: 5px 0;
    background: #fff;
    z-index: 100;
    list-style-type: none;
    border-radius: 4px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
    li {
      margin: 0;
      padding: 5px 15px;
      cursor: pointer;
      &:hover {
        background: #eee;
      }
    }
  }
}
